
<div class="jumbotron">
  <div class="container">
  <h1>Dabunk</h1>
  <p>The best way to discover the social scenes of colleges. <br> Log in or Register to browse schools and their students. </p>
  </div>

<div id="SessionForms">

  <div id="LoginForm">
  <form id="loginForm" action="/login">
    <input type="text" name="email" placeholder="Email"></input>
    <input type="password" name="password" placeholder="Password"></input>
    <button id="login">Login</button>
  </form>
  </div>

  <div id="RegisterForm">
  <span> Sign Up </span>
  <form id="registrationForm" action="/users" method="post">
    <input type="radio" name="type" value="student"> High School Student </input><br>

<input type="radio" name="type" value="undergrad"> Undergraduate Student </input>


    <input type="text" name="type" placeholder="Student or Undergrad?"></input><br>
    <input type="text" name="name" placeholder="First and Last Name"></input><br>
    <input type="text" name="email" placeholder="Email"></input><br>
    <input type="password" name="password" placeholder="Password"></input><br><br>
    <button id="register">Sign Up </button><br>
  </form>
  </div>

</div>
</div>
