<h1>Dabunk</h1>

<div id="SessionForms">

  <span> Login </span>
  <form id="loginForm" action="/login">
    <input type="text" name="email" placeholder="email"></input>
    <input type="password" name="password" placeholder="password"></input>
    <button id="login">Login</button>
  </form>

  <span> Or Register  </span>
  <form id="registrationForm" action="/users" method="post">
    <input type="text" name="type" placeholder="Student or Undergrad?"></input>
    <input type="text" name="name" placeholder="first and last name"></input>
    <input type="text" name="email" placeholder="email"></input>
    <input type="password" name="password" placeholder="password"></input>
    <button id="register">Register</button>
  </form>

</div>
