<h1>photo index aka newsfeed</h1>

<%if current_user.is_a? Undergrad%>
  <div class="upload-photo"><button> Upload a Photo </button></div>
<%end%>

<div class="photo-stream", data-user-id="<%=current_user.id%>">
  <% @photos.each do |photo|%>
    <div class="photo">
      <img src="<%= photo.url%>">

      <% if photo.undergrad_id == current_user.id %>
      <%= button_to "Delete", user_photo_path(current_user, photo), method: :delete %>
      <%end%>
    </div>

  <%end%>
</div>
