.jumbotron {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 50%;
}


#LoginForm {
  position: absolute;
  top: 30px;
  right: 30px;
}

#RegisterForm {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 300px;
}